extends ../layout/index
block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        include ../layout/partials/viajes

//- | para indicar que las fechas y el precio pertenecen a los inconos